{% extends "layout.html" %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3 mx-auto w-auto">
            <label class="mb-3" for="ticker"> Select your stock: </label>
            <select class="ticker form-select mx-auto w-auto">
                <optgroup label="Ticker Symbols">
                    <option disabled selected value="">Symbol</option>
                    <!-- option for ticker symbols, select through the portfolio of some kind :)  -->

                </optgroup>
            </select>
        </div>
        <div class="form-control mx-auto mb-3">
            <input min="0" type="number" placeholder="Shares" autocomplete="off">
        </div>
        <div class="w-auto mx-auto">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}