{% extends "layout.html" %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3 mx-auto w-auto">
            <label class="mb-3" for="ticker"> Select your stock: </label>
            <select class="ticker form-select mx-auto w-auto" name="symbol">
                <optgroup label="Ticker Symbols">
                    <option disabled selected value="">Select</option>
                    <!-- option for ticker symbols, select through the portfolio of some kind :)  -->
                    {% for dict in portfolio_rows %}
                        <option value="{{dict.symbol}}">{{dict.symbol}}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" min="0" type="number" name="shares" placeholder="Shares" autocomplete="off">
        </div>

        <div class="w-auto mx-auto">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}