* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    beckground-color: #262626;

}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;

}

.navBranding {
    font-size: 2rem;
}


.navBar {
    min-height: 70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background: grey;

}

.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.navItem {

}

.navLink {
    transition: 500ms ease-in-out;

}

.navLink:hover {
    color: blue;
}

.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navList {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navItem {
        margin: 16px 0;

    }

    .navList.active {
        left: 0;
    }
}