* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.google {
    color: green;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-size: 6rem;
}

/* .btn-primary {
    margin: 0.5rem;
}

.nav-link {
    padding: 0.1rem;
} */

.form-control-lg {
    border-radius: 10rem;
}